# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Elixir CI

on:
  push:
    branches: ["main", "feat/*"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint:
    name: Lint & static analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        id: beam
        with:
          elixir-version: "1.14.0"
          otp-version: "25.0"

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: |
            ${{ runner.os }}-elixir-
            ${{ steps.beam.outputs.elixir-version }}-
            ${{ steps.beam.outputs.otp-version }}-
            ${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-elixir-

      - run: mix deps.get
      #- run: mix compile --warnings-as-errors
      - run: mix format --check-formatted
      - run: mix credo

  test:
    name: Tests
    runs-on: ubuntu-latest
   #needs: lint

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    strategy:
      matrix:
        partition: [1, 2]

    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        id: beam
        with:
          elixir-version: "1.14.0"
          otp-version: "25.0"

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: |
            ${{ runner.os }}-elixir-
            ${{ steps.beam.outputs.elixir-version }}-
            ${{ steps.beam.outputs.otp-version }}-
            ${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-elixir-

      - run: mix deps.get

      - name: Run tests
        env:
          MIX_ENV: test
          MIX_TEST_PARTITION: ${{ matrix.partition }}
        run: |
          mix ecto.create
          mix ecto.migrate
          mix test
